<ion-view ng-controller="JobsCtrl">

    <ion-nav-buttons side="primary">

        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="params.query" ng-enter="doSearch()">
        </label>
        <button class="button button-clear" ng-click="doSearch()">Procurar</button>
        <a id="favButton" class="tab-item" href="#/favorites">
            <i class="icon ion-star"></i>
        </a>

    </ion-nav-buttons>
    <ion-content >
        <ion-list>
            <ion-item class="item item-icon-right" ng-repeat="story in stories">
              <!--<i class="icon ion-android-more-vertical" ng-click="story.show = !story.show "></i>-->
                <h2 ng-click="openLink(story.link)">{{story.title}}</h2>
                <p  ng-click="openLink(story.link)">
                    <!--<span ng-show="story.show">{{story.description}}</span>
                    <br>-->
                    <span am-time-ago="story.date"></span> - {{story.city}} {{story.description}}
                </p>
                <a class="icon icon-right" ng-class="getFavoriteIcon(story)" ng-click="addToFavorites(story)"></a>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll distance="1%" on-infinite="loadOlderStories()"> </ion-infinite-scroll>
    </ion-content>
</ion-view>
