<ion-view view-title="Settings">
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
                Country
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                City
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Search only on title
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Limit search to how many days
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
